@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap");
.botonera {
  background-color: antiquewhite; }

.font {
  color: red;
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
  font-size: 2em;
  text-align: right;
  text-decoration: none; }

h1 {
  font-weight: 300;
  font-size: 2em;
  text-align: left;
  text-decoration: none; }

body {
  background-color: rgba(255, 85, 0, 0.5); }

hr {
  background-color: red;
  opacity: 100%;
  height: 0.3rem;
  margin-left: start; }