@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap");
.boton {
  width: 50%;
  margin-left: 25%;
  height: 2rem;
  border: 3px solid #0c3ce9;
  border-radius: 5px;
  margin-top: 1rem; }

.aparte .galeria .imgProducto {
  width: 540px; }

header .navbar {
  padding: 0; }
  header .navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    header .navbar .container-fluid .logocontainer {
      width: 40%; }
      header .navbar .container-fluid .logocontainer .logo {
        width: 100%; }
      header .navbar .container-fluid .logocontainer .collapse .navbar-nav {
        align-items: flex-end; }
        header .navbar .container-fluid .logocontainer .collapse .navbar-nav .nav-item .nav-link {
          color: #090979;
          font-weight: 700; }
          header .navbar .container-fluid .logocontainer .collapse .navbar-nav .nav-item .nav-link:hover {
            color: #090979;
            font-weight: 600; }

.tituloMain {
  display: flex;
  justify-content: center;
  color: antiquewhite;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.filtro {
  display: inline-block; }

.boton {
  display: flex; }

.aparte .galeria {
  display: inline-flex; }

.boton {
  display: inline-block; }

* {
  padding: 0;
  margin: 0; }

body {
  background: #94bbe9; }
