@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(#090979, #00d4ff);
}
.logoContainer{
  width: 40%
}