@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap");
.botonera {
  background-color: antiquewhite; }

.font {
  color: red;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2em;
  text-align: right;
  text-decoration: none; }

h1 {
  font-weight: 300;
  font-size: 2em;
  text-align: left;
  text-decoration: none; }

body {
  background-color: rgba(255, 85, 0, 0.5); }

.bg-black {
  background-color: black; }

.bg-white {
  background-color: white; }

* {
  padding: 0;
  margin: 0; }

body {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #090979 43%, #00d4ff 100%); }
