@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap");
/*header*/
*{
  padding: 0;
  margin: 0;
}

.navbar {
  padding: 0;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logoContainer {
  width: 40%;
}

.logo {
  width: 300px;
}
.navbar-nav{
  align-items: flex-end;
}
.nav-link{
  color:#ff4000;
  font-size:;
}
.navbar-light .navbar-toggler {
  color: rgba(255, 72, 0, 0.55);
  border-color: rgba(0,0,0,.1);
}

/*main*/