.font {
    color: $secondarycolor;
    font-family: 'Roboto', sans-serif;
    font-weight: $light;
    font-size: $textLg;
    text-align: right;
    text-decoration: none;
}

h1 {
    font-weight: $light;
    font-size: $textLg;
    text-align: left;
    text-decoration: none;
}

body {
    background-color: $maincolor;
}


$paleta: (
    "uno": black,
    "dos": white,
);

.bg-black {
    background-color: map-get($map: $paleta, $key: "uno");
}

.bg-white {
    background-color: map-get($map: $paleta, $key: "dos");
}