@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');
//fonts
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;

//text sizing
$textSm: .8em;
$textMd: 1em;
$textLg: 2em;
$textXl: 3em;

//
$bold: 600;
$regular: 400;
$light: 300;
