@import "partials/variables";
@import "partials/header";
@import "partials/principal";
@import "partials/footer";
@import "partials/mediaquerys";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap");
*{
    padding: 0;
    margin: 0;
}
body {
    background: #94bbe9;}