.filtro{
    display: inline-block;
}
.boton{
    display: flex;
    @extend %botones;
}
.aparte{
    .galeria{
        @include flex(flex, row, center);
        margin-bottom: map-get($map: $estilos, $key: margin-bottom);
        .imgProducto{
            @extend %imagenChica;
        }
    }
}
.claseEjemploMap{
    color: map-get($map: $estilos , $key:color );
}