%botones{
    width: 50%;
    margin-left: 25%;
    height: 2rem;
    border: 3px solid #0c3ce9;
    border-radius: 5px;
    margin-top: 1rem;
}
%imagenChica{
    width: 540px;
}
%imagenMediana{
    width: 720px;
}
%imagenGrande{
    width: 960px;
}
%imagenMuygrande{
    width: 1140px;
}