// extend

%botones {
    width: 50%;
    margin-left: 25%;
    height: 2rem;
    border: 3px solid #0c3ce9;
    border-radius: 5px;
    margin-top: 1rem;
}

%mensaje {
    border-radius: 2px;
    color: white;
    padding: 5px;
    text-align: center;
}

%imagenChica {
    width: 540px;
}

%imagenMediana {
    width: 720px;
}

%imagenGrande {
    width: 960px;
}

%imagenMuygrande {
    width: 1140px;
}

%h2Centro {
    text-align: center;
}